{% extends "base.html" %}
    {% block content %}
            <section class="Herosections">
                <div class="mainsection">
                    <h1 class="rubik-semibold">Explore a world of culinary delights</h1>
                    <h6 class="rubik-italic">Find recipes by ingredients, cuisine, or dish name</h6>
                    <div class="search">
                        <input type="search" placeholder="Search for food by ingredients, cuisine...">
                        <button class="rubik-regular" type="submit">FIND</button>
                    </div>
                </div>
                    <img class='hero' src="../static/assets/5.png" alt="food">
            </section>
            <section class="discover">
                <h2>Discover</h2>
            </section>
    {% endblock content %}
        