<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,500&display=swap" rel="stylesheet">
    <link href="../static/CSS/index.css" rel="stylesheet">
    <title>HOME</title>
</head>
<body>
    <header>
        <nav>
        <img src="../static/assets/logo.png" alt="logo">
        <div class="navLinks rubik-semibold">
            <a href="#" target="_blank">Discover</a>
            <a href="#" target="_blank">History</a>
            <a href="#" target="_blank">Favorites</a>
            <a href="#" target="_blank"><img src="../static/assets/search.png" alt="Search icon"></a>
            <a href="#" target="_blank"><img src="../static/assets/account.png" alt="Account icon"></a>
        </div>
        </nav>
    </header>
    <main>
        <section class="Herosections">
            <div class="mainsection">
                <h1 class="rubik-semibold">Explore a world of culinary delights</h1>
                <h6 class="rubik-italic">Find recipes by ingredients, cuisine, or dish name</h6>
                <div class="search">
                    <input type="search" placeholder="Search for food by ingredients, cuisine...">
                    <button class="rubik-regular" type="submit">FIND</button>
                </div>
            </div>
                <img class='hero' src="../static/assets/5.png" alt="food">
        </section>
    </main>
    <footer>
        <img src="../static/assets/logo.png" alt="logo">
    </footer>
</body>
</html>