{% extends "base.html" %}
{% block css %}
    {{ super() }}
    <link href="../static/CSS/search.css" rel="stylesheet">
{% endblock css %}
    {% block content %}
            <section class="Herosections">
                <div class="mainsection">
                    <h1 class="rubik-semibold">Explore a world of culinary delights</h1>
                    <h6 class="rubik-italic">Find recipes by ingredients, cuisine, or dish name</h6>
                    <div class="search">
                        <form action="{{url_for('search_template')}}" method="post">
                            <input id="query" name="query" type="search" placeholder="Search for food by ingredients, cuisine...">
                            <button class="rubik-regular" type="submit">FIND</button>
                        </form>
                    </div>
                </div>
                    <img class='hero' src="../static/assets/5.png" alt="food">
            </section>
    {% endblock content %}
        