{% extends "base.html" %}
{% block css %}
    {{ super() }}
    <link href="../static/CSS/recipe.css" rel="stylesheet">
{% endblock css %}
{% block title %}
    <title>Recipes</title>
{% endblock %} 
{% block content %}
    <section class="recipe block">
        <h1 class="rubik-semibold">{{recipe['title']}}</h1>
        <img  src={{recipe.image}} alt="recipe photo">
    </section>
    <section class="Summary block rubik-regular">
        <h2>Summary</h2>
        <p class="details rubik-semibold ">Cook time: {{recipe['readyInMinutes']}} min &emsp; Servings: {{recipe['servings']}}</p>
        <p>{{recipe['summary']| safe}}</p>
    </section>
    <section class="Instructions block rubik-regular">
        <h2>Instructions</h2>
        <span>{{recipe['instructions']| safe}}</span>
    </section>
    <section class="Ingredients block rubik-regular">
        <h2>Ingredients</h2>
        <div>
            {%  for ingredient in recipe['extendedIngredients'] %}
                <li>{{ingredient['amount']}} {{ingredient['unit']}} {{ingredient['nameClean'] }}</li>
            {% endfor %}
        </div>
    </section>
{% endblock content %}