{% extends "base.html" %}
{% block css %}
    {{ super() }}
    <link href="../static/CSS/search.css" rel="stylesheet">
{% endblock css %}
{% block title %}
    <title>Search Results</title>
{% endblock %} 
{% block content %}
    <div class="full">
        <div class="search">
            <form action="{{url_for('search_template')}}" method="post">
                <input id="query" name="query" type="search" placeholder="Search for food by ingredients, cuisine...">
                <button class="rubik-regular" type="submit">FIND</button>
            </form>
        </div>
        <h2 class="rubik-regular">Search Results </h2>
        <section>
            <div class="results">
                {% for result in results %}
                    <div class="card">
                        <div class="details">
                            <img class="recipe-photo" src={{result.image}} alt="recipe photo">
                            <p class="name">{{result['title']}}</p>
                        </div>
                        <form action="{{url_for('recipe_template')}}" method="post">
                            <input class="nodisplay" id="id" name="id" required type="text" value={{result.id}}>
                            <button  type="submit" class="view rubik-regular">VIEW RECIPE</button>
                        </form>
                    </div>
                {% endfor %}

            </div>

            
            <div class="filter">
    
            </div>
        </section>
    </div>
{% endblock content %}