:root{
    --color-grayblue: #393C49;
    --color-darkblue: #252836;
    --color-darkerblue:#1F1D2B;
    --color-lightbluemain: #73AFEF;
    --color-darkerlightblue: #6AA0EC;
    --color-fontblue: #A4D0FF;

}
.block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:auto;
    gap: 40px;
    padding: 5%;
    height: auto;
    min-height: 600px;

}
.recipe img{
    width: 40%;
    border-radius: 20%;
}
.details{
    width: 60%;
    font-weight: 700;
    text-align: center;
    border: 3px solid #a4d0ff98;
    border-radius: 50%;
}

h1{
    width: 80%;
    text-align: center;
}
.Summary{
    background-color: var(--color-darkblue);

}
.Summary a{
    text-decoration: none;
    color: var(--color-darkerlightblue);
}

.Instructions{
    background-color: #435066;
    
}
/*  */
.Instructions span{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.Instructions ol {
    list-style-type: decimal;
    font-size: 16px;
}

.Instructions li {
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    margin-bottom: 10px;
}
  /*  */
.Ingredients{
    background-color: var(--color-darkblue);
    gap: 15px;
    
}
.Ingredients div{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: flex-end;
}
.Ingredients li{
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    font-size: 20px;
    width: 60%;
    line-height: 25px;
    font-weight: 300;
}

h2{
    padding-top: 2%;
    color: aliceblue;
    font-size: 40px;
}
p{
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    font-size: 20px;
    width: 60%;
    line-height: 25px;
    font-weight: 300;
}
span{
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    font-size: 20px;
    width: 60%;
    line-height: 25px;
    font-weight: 300;
}
label{
    color: aliceblue;
    font-size: 20px;
    line-height: 25px;
    font-weight: 300;
}
.nodisplay{
    display: none;
}
.fav{
    display: flex;
    justify-content: center;
}

.fav button{
    height: 50px;
    font-size: 20px;
    background-color: var(--color-darkerlightblue);
    border: none;
    color: aliceblue;
    cursor: pointer;
    box-shadow: 0 1px 14px #a4d0ff36;
}
.fav button:hover{
    background-color: aliceblue;
    color: var(--color-darkerlightblue);
    box-shadow: 0 1px 14px #6aa0ec49;
    

}

.reviewform{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.reviewform img{
    width: 30px;
}
.Review{
    background-color: #435066;
}
.display{
    background-color: var(--color-darkblue);
    gap: 25px;
}
.stars{   display: flex;
    gap: 2px;
}
.stars img{
    width: 15px;
}
.list{
    background-color: #393C49;
    min-width: 30%;
    padding: 2%;
}
.list p{
    width: 100%;
}

@media screen and (max-width: 770px) {
    .Ingredients div{
        align-items: start;
    }
    .Ingredients li{
        font-size: 15px;
        line-height: 15px;
        width: auto;
    }
    p{
    
        font-size: 15px;

    }
    span{
        font-size:15px;
        line-height: 19px
    }
}

